/* vim:fileencoding=utf-8:foldmethod=marker
*/

/* Black Catppuccin */

/* Primary colors */
@define-color background #000000;   /* base */
@define-color foreground #cdd6f4;   /* text */
@define-color black      #45475a;   /* black */
@define-color red        #f38ba8;   /* red */
@define-color green      #a6e3a1;   /* green */
@define-color yellow     #f9e2af;   /* yellow */
@define-color blue       #89b4fa;   /* blue */
@define-color magenta    #f5c2e7;   /* magenta */
@define-color cyan       #94e2d5;   /* cyan */
@define-color white      #bac2de;   /* white */

/* Bright variants */
@define-color bright-black   #585b70;
@define-color bright-red     #f38ba8;
@define-color bright-green   #a6e3a1;
@define-color bright-yellow  #f9e2af;
@define-color bright-blue    #89b4fa;
@define-color bright-magenta #f5c2e7;
@define-color bright-cyan    #94e2d5;
@define-color bright-white   #a6adc8;

/* Dim variants (usando mesma ideia do Alacritty) */
@define-color dim-black   #7f849c; /* dim_foreground */
@define-color dim-red     #f38ba8; 
@define-color dim-green   #a6e3a1;
@define-color dim-yellow  #f9e2af;
@define-color dim-blue    #89b4fa;
@define-color dim-magenta #f5c2e7;
@define-color dim-cyan    #94e2d5;
@define-color dim-white   #cdd6f4; /* bright_foreground */

/* Accents */
@define-color orange #fab387;  /* orange */
@define-color error  #f38ba8;  /* red */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
}

/* Keyframes for main bar criticals */
@keyframes blink-critical-text {
  to {
    color: @red;
  }
}

@keyframes blink-modifier-text {
  to {
    color: @blue;
  }
}

/* Main bar defaults */
#waybar.main {
  background: @background;
  border-radius: 0px;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 9pt;
  font-weight: 500;
}

/* Botões da barra */
#waybar.main button {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 9pt;
  font-weight: 500;
  transition: all 0.15s ease-in-out;
}

#waybar.main > *,
#waybar.indicator > * {
  padding-top: 0;
  padding-bottom: 0;
}

/* Main bar modules padding horizontal */
#waybar.main #custom-nvidia,
#waybar.main #custom-weather,
#waybar.main #custom-battery,
#waybar.main #keyboard-state,
#waybar.main #network,
#waybar.main #battery,
#waybar.main #backlight,
#waybar.main #clock,
#waybar.main #cpu,
#waybar.main #language,
#waybar.main #memory.swap,
#waybar.main #memory.ram,
#waybar.main #submap,
#waybar.main #pulseaudio,
#waybar.main #temperature,
#waybar.main #tray,
#waybar.main #window,
#waybar.main #disk {
  padding-left: 8pt;
  padding-right: 8pt;
}

#waybar.main #tray {
  padding-right: 6pt;
}

#waybar.main #custom-weather {
  padding-right: 3pt;
}

/* Module colors */
#waybar.main #custom-nvidia,
#waybar.main #cpu,
#waybar.main #temperature,
#waybar.main #memory.ram,
#waybar.main #memory.swap,
#waybar.main #disk {
  color: @cyan;
}

#waybar.main #pulseaudio {
  color: @magenta;
}

#waybar.main #custom-battery,
#waybar.main #language,
#waybar.main #backlight,
#waybar.main #battery {
  color: @green;
}

#waybar.main #custom-weather,
#waybar.main #clock {
  color: @yellow;
}

#waybar.main #window {
  color: @blue;
  margin-top: 0px;
}

#waybar.main #network.info {
  padding-right: 10px;
  padding-left: 10px;
  color: @foreground;
  background: transparent;
}

/* Submap */
#waybar.main #submap.󰲏 {
  color: @yellow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

#waybar.main #submap. {
  color: @green;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

/* Main bar criticals */
#waybar.main #custom-nvidia.critical,
#waybar.main #custom-battery.critical,
#waybar.main #workspaces button.urgent,
#waybar.main #workspaces button.special.urgent,
#waybar.main #memory.swap.critical,
#waybar.main #memory.ram.critical,
#waybar.main #cpu.critical,
#waybar.main #temperature.critical,
#waybar.main #battery.critical.discharging {
  color: @red;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

/* Workspace buttons */
#waybar.main #workspaces button {
  color: @foreground;
  background: transparent;
  border: 1.5px solid transparent;
  padding-left: 2pt;
  padding-right: 2pt;
  border-radius: 16px;
  margin: 3.5px 4px 3.5px 4px;
  transition: all 0.25s ease;
}

#waybar.main #workspaces button.visible {
  color: @blue;
}

#waybar.main #workspaces button:hover {
  color: @blue;
}

/* Custom slashes as spacers */
#waybar.main #custom-spacer1,
#waybar.main #custom-spacer2,
#waybar.main #custom-spacer3 {
  font-size: 10pt;
  font-weight: bold;
  color: @foreground;
  background: transparent;
}

/* Custom tray icon */
#waybar.main #custom-trayicon {
  font-size: 11pt;
  font-weight: bold;
  font-style: italic;
  color: @blue;
  background: transparent;
  padding-right: 6pt;
  padding-left: 2pt;
}

/* Tooltip */
tooltip {
  background: rgba(26, 27, 38, 0.75); /* @background 75% */
  border: 3px solid @cyan;
  border-radius: 8px;
  font-weight: 500;
  font-family: "JetBrains Mono Nerd Font";
}

#waybar.main #tray menu {
  background: rgba(26, 27, 38, 0.75);
  border: 3px solid @cyan;
  border-radius: 8px;
}

/* Indicator bar battery module */
#waybar.indicator {
  font-size: 27px;
  color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

#waybar.indicator #custom-batteryindicator {
  border: 2.5px solid @cyan;
  background: rgba(26, 27, 38, 0.75);
  border-radius: 8pt;
  padding-left: 2237.5px;
}
