@define-color background #303446;          /* Frappe base */
@define-color background-alt #292c3c;      /* Slightly darker alt background */
@define-color foreground #c6d0f5;          /* Main text (bright, soft white-blue) */
@define-color foreground-inactive #838ba7; /* Muted gray-blue for inactive items */
@define-color accent #8caaee;              /* Soft blue accent for hover/active states */

/* Typography & layout */
* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

/* Main bar */
#waybar {
    color: @foreground;
    background-color: @background;
}

/* Workspaces */
#workspaces button {
    color: @foreground;
    padding-left: 0.7em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.active {
    color: @accent;
}

/* Modules */
#memory,
#custom-platform-profile {
    padding-left: 1em;
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 1em;
}
